

[Unit]
Description=LCD status display service
Wants=

[Service]
Type=simple
ExecStart=/usr/local/bin/LCD

[Install]
WantedBy=multi-user.target
Alias=sshd.service
